<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="dropdown">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
          Select Registered User
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          <a class="dropdown-item" *ngFor="let user of userDetails" (click)="setUserDetail(user)">{{user.email}}</a>
        </div>
      </div>
      <div *ngIf="hide" class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">User Email</th>
              <th class="column2" style="width:100px">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td class="column2">{{tempUser.email}}</td>
                <td *ngIf="isUserAdmin()" class="column2">
                <span><i class="material-icons" (click)="deleteUser(tempUser)" style=" margin:10px">delete</i></span>
                </td>
              </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
